<div class="container mt-4">
  <img src="assets/images/balanca.png" alt="" />
  <form [formGroup]="formImc">
    <div>
      <mat-form-field appearance="fill">
        <mat-label>Peso (kg)</mat-label>
        <input
          matInput
          mask="0X.0X || 0XX.0X"
          formControlName="Weigth"
          #weightInput
        />
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="fill">
        <mat-label>Altura (cm)</mat-label>
        <input matInput mask="0.00" formControlName="Height" #heightInput />
      </mat-form-field>
    </div>
    <div class="container-botao">
      <button
        [disabled]="formImc.invalid"
        mat-raised-button
        color="primary"
        (click)="calculateImc(weightInput.value, heightInput.value)"
      >
        CALCULAR
      </button>
      <button
        [disabled]="formImc.invalid"
        mat-raised-button
        color="primary"
        (click)="clearForm()"
      >
        LIMPAR
      </button>
    </div>
  </form>
  <div class="resultado-imc" *ngIf="valueIMC && !sumirCard">
    <span>seu Índice de Massa Corporal é:</span>
    <h1>{{ valueIMC }}</h1>
    <div class="card">
      <img [src]="imageURL" />
      <p>{{ descriptionIMC }}</p>
    </div>
  </div>
</div>
